body {
  padding: 0;
  margin: 0;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 3px;
  width: 900px;
  height: 900px;
  justify-content: center;
  align-content: center;
  background-color: black;
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(127, 6, 6);
  color: white;
  margin-bottom: 15px;
  font-size: 20px;
  border: 2px solid white;
  padding: 6px 15px;
  border-radius: 10px;
}
